$brand-primary: #5931d3;
$brand-secundary: #434fe8;

$text-color: #747474;

$link-decoration: none !important;
$font-size-base: 18px !important;

$degrade: linear-gradient($brand-primary, $brand-secundary);