@import './geral';

html{
    overflow: none;
}

section {
    padding: {
        bottom: 5em;
        top: 5em;
    };
    display: flex;
    flex: {
        direction: row;
    }
}

#header {
    padding: {
        bottom: 30px;
    }
    overflow: none;
    #capa {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background-image: url('../img/pic01.jpg');
        background-size: cover;
        background-position: center;
        color: #fff;
        line-height: 1;
        text-align: center;
    
        h1, p {
            z-index: 2;
        }
    }
    
    #capa::before {
        content: "";
        position: absolute;
        @include gradient-horizontal($brand-primary, $brand-secundary);
        @include opacity(.9);
        width: 100%;
        position: absolute;
        color: #fff;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .imagem-profile {
        width: 150px;
        height: 150px;
        z-index: 5;
        background: {
            image: url('../img/profile1.jpg');
            position: center;
            size: cover;
        };
        border: {
            radius: 50%;
            color: #fff;
            style: solid;
            width: 5px;
        }
        box: {
            shadow: 0px 0px 12px -4px $gray-light;
        };
        position: absolute;
        bottom: -90px;
    }
    
    .descriptions {
        @include container-fixed();
        padding: {
            top: 7em;
        }
        span {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: {
                bottom: 1em;
            }
        }

        i {
            color: $brand-primary;
            font-size: 2em;
        }

        display: flex;
        flex: {
            direction: row;
        }
        .left {
            @include make-lg-column(4);
            @include make-md-column(6);
            display: flex;
            flex: {
                direction: column;
            };
        }
        .right {
            @include make-lg-column(4);
            @include make-md-column(6);
            display: flex;
            flex: {
                direction: column;
            };
        }
    }
}

.tecnologias {
    @include container-fixed();
    max-width: 100%;
    height: 20vh;
    display: flex;
    flex: {
        direction: row;
    };
    justify-content: space-between;
    background: {
        // color: red;
    };
    align-items: center;
    .tecnologia {
        min-width: 100px;
        height: auto;
        margin: {
            top: 5em;
        };
        .svg-tec {
            color: red;
        }
    }
}

.line-title {
    background-image: linear-gradient(200deg, $brand-primary, blue);
}

#frameworks {
    // @include container-fixed;
    max-width: 100%;
    background: {
        // color: blue;
    }
    width: 100%;
    align-content: center;
}

#linguagens {

}