/*
 * Criado por Bruno Leone
 */

@media (max-width: 425px) {
    .header-parallax {
        height: 100vh !important;
    }
    .descriptions {
        flex-direction: column !important;
    }
    .main {
        top: 100vh !important;
    }
}

@media (min-width: 768px) {
    .header-parallax {
        height: 45vh !important;
    }
    .main {
        top: 45vh !important;
    }
    .descriptions {
        flex-direction: column !important;
        .left {
            max-width: 100% !important;
        }
        .right {
            max-width: 100% !important;
        }
        i {
            margin-right: 10px;
        }
    }
}

@media (min-width: 768px){
    .descriptions {
        flex-direction: row !important;
    }
}